{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load static %}



{% block title %} Registrierung {% endblock title %}

{% block content %} 


<div class="form_container">
    <div class="form">
        <h1>
            Registierung
        </h1>
        <form method="post" action=" {%url "register" %} ">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>


{% endblock content %} 