

.logo{
    width: 70%;
    padding-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo a{
    height: 80%;
    display: flex;
    align-items: center;
    transition: all 250ms;
}

.logo a:hover{
    transform: translateY(-1px);
    filter: drop-shadow(5px 5px 5px #00000094);
}

.logo_img{
    height: 100%;

}

